*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

html {
  background: -webkit-linear-gradient( 90deg, #05996E, #A4EDD8, white 50% );
  background: -moz-linear-gradient( 90deg, #05996E, #A4EDD8, white 50% );
  background: linear-gradient( 0deg, #05996E, #A4EDD8, white 50% );
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

p, li {
  font-family: 'Droid Sans', sans-serif;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: black;
}

p a {
  color: #D63E6A;
}

li a:hover {
  color: #D63E6A;
}

li {
  list-style-type: square;
  margin-bottom: 0.5em;
}

footer {
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
}

footer p {
  margin: 0;
}

.title, .title-materials {
  font-family: 'Londrina Outline', cursive;
  font-size: 5em;
  margin-top: .5em;
  padding: 0;
  letter-spacing: 2px;
  font-weight: bold;
}

.subtitle {
  font-family: 'Londrina Outline', cursive;
  font-size: 2.5em;
  letter-spacing: 2px;
}

.note {
  font-size: 1em;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  min-height: 100%;
}

.flexitem-grow {
  flex: 1;
}

.flexitem-fill {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.frame {
  margin: 1em auto;
  padding: 1em;
  color: black;
  min-height: 50%;
  max-width: 60%;
}

.contact {
  font-family: 'Londrina Outline', cursive;
  font-size: 3em;
  display: inline;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.contact:hover {
  color: white;
}


@media (max-width: 667px) {
  p, li {
    font-size: 1.2em;
  }

  ul {
    padding-left: 1.5em;
  }

  .title {
    font-size: 4em;
  }

  .subtitle {
    font-size: 2em;
  }

  .title-materials {
    font-size: 3em;
  }

  .flex-container {
    height: auto;
  }

  .frame {
    margin: .5em auto;
    padding: .5em;
  }

  .contact {
    display: block;
  }

  .contact:hover {
    color: black;
  }
}

@media (max-width: 1024px) {
  .frame {
    max-width: 90%;
  }
}
